.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  min-width: 320px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, html, main, body, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .backdrop.is-hidden .modal-menu {
    transform: translate(-50%, -50%) scale(0);
  }
  .no-scroll {
    overflow: hidden;
  }
  .modal-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 568px;
    padding: 15px;
    background-image: linear-gradient(2deg, #2d2a22, #7e6d53);
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(278deg, #2D2A22 -29.32%, #7E6D53 119.87%);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-logo {
  font-size: 20px;
  color: #ffffff;
  padding-left: 15px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.nav-item {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.header-btn {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.burger {
  display: flex;
  align-items: center;
}

.open-menu {
  fill: white;
  width: 24px;
  height: 24px;
}

.close-block {
  display: flex;
  justify-content: flex-end;
}

.close-menu {
  fill: white;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
  }
  .burger {
    display: flex;
    align-items: center;
    gap: 220px;
  }
  .header-element {
    display: none;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1200px) {
  .header-element {
    display: none;
  }
  .open-menu {
    display: none;
  }
  .close-menu {
    display: none;
  }
  .burger {
    display: flex;
    gap: 80px;
  }
  .nav-list {
    gap: 32px;
  }
}
.hero {
  content: "";
  background-image: url(../../img_nice-view/mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 491px;
  margin-bottom: 80px;
}

.hero-title {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}

.hero-text {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.hero-block {
  display: flex;
  justify-content: center;
}

.hero-button {
  color: #2d2a22;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
  padding: 10px 40px;
  border: none;
  border-radius: 16px;
  margin-top: 256px;
}
.hero-button:hover {
  color: white;
  background-color: #7e6d53;
}

@media screen and (min-width: 480px) {
  .hero {
    content: "";
    background-image: url(../../img_nice-view/fon-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 491px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    content: "";
    background-image: url(../../img_nice-view/fon-komp.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 491px;
    margin-bottom: 80px;
  }
}
.work {
  content: "";
  background-image: url(../../img_nice-view/fon-work.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 677px;
}

.work-list {
  margin: 0;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.work-text {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 130px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.work-subtitle-item {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.work-text-item {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .work {
    content: "";
    background-image: url(../../img_nice-view/fon-work-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 630px;
  }
}
@media screen and (min-width: 768px) {
  .work-list {
    margin: 0;
    background-color: white;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
  }
}
.apartment {
  margin-top: 60px;
}

.apartment-title {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}

.apartment-item {
  padding: 20px 30px;
}
.apartment-item:hover {
  border: 2px solid rgb(126, 109, 83);
  border-radius: 16px;
}

.apartment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 28px;
}

.apartment-subtitle {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.apartment-text {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}

.apartment-link {
  margin-top: 48px;
}

.apartment-block {
  display: flex;
  justify-content: center;
  margin-top: 61px;
  margin-bottom: 32px;
}

.apartment-btn {
  color: #fcfcfb;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  background-color: #7e6d53;
  border: none;
  padding: 14px 28px;
  border-radius: 16px;
}
.apartment-btn:hover {
  background-color: white;
  border: #7e6d53 solid 1px;
  color: #7e6d53;
}

.fon-footer {
  background-color: rgb(237, 233, 227);
  padding-top: 60px;
}

.Infrastructure {
  content: "";
  background-image: url(../../img_nice-view/Infrastructure.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 431px;
  margin-bottom: 80px;
  padding-top: 50px;
}

.Infrastructure-title {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 24px;
}

.Infrastructure-list {
  background-color: white;
  opacity: 0.7;
  width: 290px;
  height: 351px;
  padding: 24px 18px;
  border-radius: 10px;
}

.Infrastructure-item {
  height: 101px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Infrastructure-block {
  width: 105px;
  height: 105px;
  padding: 20px;
  border: black solid 2px;
  border-radius: 100%;
}

.Infrastructure-subtitle {
  color: #2d2a22;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
}

.Infrastructure-text {
  color: #7e6d53;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

@media screen and (min-width: 480px) {
  .Infrastructure {
    content: "";
    background-image: url(../../img_nice-view/fon-Infrastructure.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 431px;
    margin-bottom: 80px;
    padding-top: 50px;
  }
}
.gallery {
  margin-bottom: 60px;
}

.gallery-title {
  color: #7e6d53;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 25px;
}

.contact-title {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.contact-text {
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin-bottom: 26px;
}

.contact-list {
  background-color: #7e6d53;
  border-radius: 16px;
  padding: 24px 20px;
  height: 218px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-link {
  color: white;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
  margin-left: 8px;
}

.contact-item {
  margin-bottom: 15px;
}

.contact-btn {
  color: #2d2a22;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
  border: none;
  padding: 14px 80px;
  border-radius: 10px;
}
.contact-btn:hover {
  color: white;
  background-color: #7e6d53;
  border: #2d2a22 solid 1px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(278deg, #2d2a22, #7e6d53);
  padding-top: 20px;
}

.footer-nav-title {
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}

.footer-nav {
  margin-left: 5px;
}

.footer-nav-link {
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.footer-nav-item {
  margin-top: 16px;
}

.footer-nav {
  width: 92px;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .footer-logo {
    display: none;
  }
}
.contact-block {
  width: 135px;
  margin-left: 50px;
}

.contact-title-block {
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}

.connection-item {
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin-top: 16px;
}

.connection-list {
  display: flex;
  flex-wrap: wrap;
}

.tabs-list {
  display: flex;
  gap: 20px;
  margin-left: 5px;
  margin-top: 29px;
}

.tabs-svg {
  fill: #fcfcfb;
  width: 24px;
  height: 24px;
}
.tabs-svg:hover {
  fill: #7f6e54;
}

.text {
  color: #979797;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 8px;
}

.block-span {
  color: white;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */