// ----------------block-----------------
.text {
    color: #979797;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  
    margin-top: 28px;
    margin-bottom: 8px;
  }
  .block-span {
    color: white;
    text-decoration: underline;
  }