// -------------footer---------------
.footer {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(278deg, #2d2a22, #7e6d53);
    padding-top: 20px;
  }
  .footer-logo{
    font-size: 20px;
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 22px;
}
  .footer-nav-title {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
  }
  .footer-nav {
    margin-left: 5px;
  }
  .footer-nav-link {
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  .footer-nav-item {
    margin-top: 16px;
  }
  .footer-nav {
    width: 92px;
  }
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    .footer-logo {
      display: none;
    }

  }
  @media screen and (min-width:768px){
    .footer-block{
      display: flex;
      align-items: baseline;
    }
    .footer{
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
    .footer-logo{
      margin-right: 100px;
    }
  }