// ----------------gallery-----------------
.gallery {
    margin-bottom: 60px;
  }
  .gallery-title {
    color: #7e6d53;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 25px;
  }