.header{   
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(278deg, #2D2A22 -29.32%, #7E6D53 119.87%);
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header-logo{
    font-size: 20px;
    color: #ffffff;
    padding-left: 15px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.nav-item{
    color: #ffffff;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;

}
.header-btn{
font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;

}
.burger{
    display: flex;
    align-items: center;
}
.open-menu{
    fill: white;
    width: 24px;
    height: 24px;
}
.close-block{
    display: flex;
    justify-content: flex-end;

}
.close-menu{
    fill: white;
    width: 24px;
    height: 24px;
}
.header-btn{
    color: white;
    display: flex;
    border: none;
    background-color: #473d2d;
    padding: 8px 30px;
    border-radius: 10px;
    border: #ffffff solid 1px;
    margin-top: -10px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        
        gap: 24px;
        margin-top: 30px;
    }  
    .burger{
        display: flex;
        align-items: center;
        gap: 220px;
    }
    .header-element{
        display: none;
    }
}
@media screen and (min-width: 767.98px){
    .header-element{
        display: none;
    }
    .open-menu{
        display: none;
      }
      .close-menu{
        display: none;
      }
      .burger{
        display: flex;
        gap: 80px;
        
    }
    .nav-list{
        gap: 32px;
    }
}
@media screen and (min-width: 1200px){
    .header-element{
        display: flex;
    }
    .open-menu{
        display: none;
      }
      .close-menu{
        display: none;
      }
      .burger{
        display: flex;
        gap: 80px;
        
    }
    .nav-list{
        gap: 48px;
    }
    .header-logo{
        font-size: 20px;
        color: #ffffff;
        padding-left: 15px;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-right: 135px;
    }
    .header{   
        display: flex;
        justify-content: space-around;
    }
}