// ----------------hero------------------
.hero {
  content: "";
  background-image: url(../img_nice-view/mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 491px;
  margin-bottom: 80px;
}
.hero-title {
  color: rgba(126, 109, 83, 1);
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}
.hero-text {
  color: rgba(126, 109, 83, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.hero-block {
  display: flex;
  justify-content: center;
}
.hero-button {
  color: #2d2a22;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;

  padding: 10px 40px;
  border: none;
  border-radius: 16px;
  margin-top: 256px;

  &:hover {
    color: white;
    background-color: #7e6d53;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    content: "";
    background-image: url(../img_nice-view/fon-komp.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 491px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    content: "";
    background-image: url(../img_nice-view/fon-komp.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    margin-bottom: 80px;
  }
  .hero-button{
    margin-top: 467px;
  }
}